/* Styling the main carousel container, hiding overflow (the carousel items) and creating a vertical flexbox */
.carousel {
  margin-top: 50px;
  width: 80vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styling the carousel inner to not wrap, allowing content to overflow, creating the carousel effect */
.carousel-inner {
  white-space: nowrap;
  transition: all 0.3s ease;
}

/* Styling the container of the carousel buttons using a flexbox */
.carousel-buttons {
  margin: 60px auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Removing the default button styles */
.carousel-buttons button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
