@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

/* Header Styles */
header {
  width: 100vw;
  height: 10vh;
  padding: 20px 20px;
}

header nav {
  width: 100%;
  height: 100%;
}

/* Style the links ul with a flexbox that stretches 80% of the width of the parent (which resovles to 80vw) */
header nav ul {
  height: 100%;
  width: 80%;
  margin: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Add a transition to smooth the hover animations */
header nav ul li {
  transition: all 0.4s ease;
}

/* Style the navbar links text */
header nav ul li a {
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  text-decoration: none;
  font-weight: 100;
  text-transform: uppercase;
  transition: all 0.4s ease;
  color: white;
  letter-spacing: 4px;
}

/* Hover animations  */
header nav ul li a:hover {
  letter-spacing: 14px;
}
