/* Style the spinning card container, adding perspective gives a 3D effect, setting the user 1000px from the z=0 index */

.spin-card {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  /* background-color: aqua; */
  padding: 20px;
  width: 100vw;
  height: 300px;
  perspective: 1000px;
}

/* style the inner of the card, specifying it to preserve the 3D look when transforming it (gives 3D effect) */
.spin-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.spin-card h2 {
  font-size: 80px;
}

/* Add the hover animations, that rotate the card */
.spin-card:hover .spin-card-inner {
  transform: rotateX(180deg);
  background-color: rgb(255, 255, 255);
}

/* Style the front and back of the card, hiding the backface of each */
.spin-card-front,
.spin-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.spin-card-front {
  background-color: #ffffff;
  color: black;
}

/* Style the back side */
.spin-card-back {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transform: rotateX(180deg);
}
