@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

header {
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
  z-index: 1;
}

header a {
  color: white;
}

body {
  background-color: black;
}

section.cover {
  color: white;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.typewriter {
  width: fit-content;
}

.typewriter h1 {
  font-family: "Zilla Slab", serif;
  font-size: 90px;
  font-weight: 500;
  overflow: hidden;
  border-right: 0.05em solid rgb(255, 255, 255);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 2.5s steps(21, end), blink-cursor 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-cursor {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: rgb(255, 255, 255);
  }
}

section.cover p {
  margin-top: 20px;
  font-weight: 100;
  font-size: large;
}

.down-arrow {
  height: 200px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  animation: bounce 1.3s ease-in-out 0s infinite;
}

@keyframes bounce {
  from,
  to {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -30%);
  }
}

.section-1 {
  background-color: white;
  /* background: rgb(222, 255, 192); */
  /* background: radial-gradient(
    circle,
    rgba(222, 255, 192, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background-attachment: fixed;
  width: 100vw;
  color: black;
  padding: 15vh 10vw;
}

section h1 {
  font-size: 40px;
}

section p {
  margin-top: 15px;
}

.section-2 {
  color: white;
  padding: 15vh 10vw;
}

.section-2 li {
  margin: 20px;
}

.section-3 {
  background-color: white;
  padding: 15vh 10vw;
  /* background: rgb(222, 255, 192);
  background: radial-gradient(
    circle,
    rgba(222, 255, 192, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background-attachment: fixed;
}

.section-3 li {
  margin: 20px;
}

.section-4 {
  color: white;
  padding: 15vh 10vw;
}

.section-4 li {
  margin: 20px;
}
